::backdrop {
	background-color: rgba(0, 0, 0, 0.3);
}

dialog {
	/* width: 630px;
	height: 688px; */
	padding: 26px 30px;
	background-color: #fff;
	border: none;
	border-radius: 10px;
	box-sizing: border-box;
}

.dialogContent{
	display:flex;
	flex-direction: column;
	background-color: #fff;
	margin: 0px 75px;
	width: 420px;
}

h3{
	font-family: 'work sans';
	text-align: center;
	font-weight: 400;
	font-size: 26px;
	background-color: #fff;
}

.modalWorks{
	margin-top: 46px;
	padding-bottom: 50px;
	border-bottom: 1px solid #B3B3B3;
	background-color: #fff;
	box-sizing: border-box;
}

.close {
	align-items: flex-end;
	font-size: 32px;
}

.closeModalBtn {
	border: none;
	margin-left: 96%;
	background-color: #fff;
	cursor: pointer;
}

.addPhotoBtn{
	height: 36px;
	width: 237px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	color: white;
	background-color: #1D6154;
	border-radius: 60px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin: 38px 90px 45px 90px;
	cursor: pointer;
}

.modalWorks{
	/* position: relative; */
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	gap: 7.5px;
}

.modalWorks img {
	width: 75px;
}

.modalWorks figure {
	flex-grow: 1;}

.modalWorks figcaption {
	display: none;
}

.modalWorks .trashIcone{
	position: relative;
	color: #fff;
	background-color: #000;
	font-size: 11px;
}

.modalWorks .buttonTrashIcone{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 17px;
	height: 17px;
	top: -97px;
	left: 53px;
	border-radius: 2px;
	border-style: solid;
	background-color: #000;
	cursor: pointer;
}